<main>
    <section class="shop-section">
        <div class="container">
            <div class="cart-inner">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr class=" table-primary">
                                <th scope="col">Product</th>
                                <th scope="col">Price</th>
                                <th scope="col">Size</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Total</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each product }}
                            <tr>
                                <input type="hidden" value={{'product_id'}}>
                                <td>
                                    <div class="media">
                                        <div class="d-flex">
                                            <img src={{'product.product_images.image_url'}} alt="product-image" />
                                            <div class="media-body ms-5 fs-6">
                                                <p>{{'product.name'}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5>{{currencyFormat this.[product.price]}}</h5>
                                </td>
                                <td>
                                    <div class="product_count">
                                        <input type="number" name="qty" value={{quantity}} title="Quantity:"
                                            class="form-control">
                                    </div>
                                </td>
                                <td class="size text-center">
                                    <h5>{{size}}</h5>
                                </td>
                                <td>
                                    <h5>{{currencyFormat total}}</h5>
                                </td>
                                <td>
                                    <a href="javascript:void(0)" class="delete-btn"><i class="fas fa-times"></i></a>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
                <div class="d-flex mx-3 pb-3 border-bottom">
                    <div class="">
                        <a class="gray-btn my-2" id="update-cart" href="#">Update Cart</a>
                    </div>
                </div>
                <div class="d-flex justify-content-end p-3 border-bottom">
                    <h5 class="m-2 p-2">Total:</h5>
                    <h5 class="m-2 p-2">{{currencyFormat ./total}}</h5>
                </div>
                <div class="">
                    <div class="d-flex py-3 justify-content-end align-items-center border-bottom">
                        <a class="gray-btn mx-3" href="/product">Continue Shopping</a>
                        <a class="btn rounded-pill mx-3" href="/order/checkout">Check Out</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>