<main>
    <section class="shop-section mb-5">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-5">
                    <div class="shop-sidebar mb-4 mx-3">
                        <h3 class="shop-sidebar-heading px-4 fw-normal">Browse Categories</h3>
                        
                        <div class="shop-sidebar-list p-4 bg-light">
                            <form id="categoryForm">
                                <div class="shop-sidebar-type">
                                    <div class="form-check mb-2">
                                            <input class="form-check-input" type="radio" 
                                            name="category" checked id='0' value="0" onclick="window.location='/product';">
                                            <label class="form-check-label" for='0'>
                                                All
                                            </label>
                                        </div>
                                    {{#each category}}
                                        <div class="form-check mb-2">
                                            <input class="form-check-input" type="radio" 
                                            name="category" {{{radioChecked id ../catOption}}} 
                                            id={{id}} onclick="window.location='?category={{id}}'" value="{{id}}">
                                            {{!-- delete /search in url --}}
                                            <label class="form-check-label" for={{id}}>
                                                {{name}} ({{total_products}})
                                            </label>
                                        </div>
                                    {{/each}}
                                </div>
                            </form>
                        </div>

                    </div>
                </div>

                <div class="col-xl-9 col-lg-8 col-md-7">
                    <div class="bg-light mb-4 px-3 pb-3 d-flex align-items-center flex-wrap">
                        <form id="searchForm" action="/product/search" method="get">
                            <div class="mt-3 input-group">
                                <input type="text" name="keyword" class="form-control" id="shop-search" placeholder="Search" value="{{keyword}}">
                                <a href="javascript:void(0)" id="searchBtn" type="submit" class="btn btn-outline-secondary">Search</a>
                            </div>
                        </form>
                    </div>
                
                
                    <div class="row">
                        {{#each products.rows}}
                        <div class="col-sm-6 col-lg-4">
                            <div class="product-card text-center mb-4">
                                <div class="product-img position-relative">
                                    <img src={{'product_images.image_url'}} alt="">
                                    <ul class="product-overlay text-center d-flex justify-content-center">
                                        <li class="me-1">
                                            <a href="#" class="product-icon">
                                                <i class="bi bi-search"></i>
                                            </a>
                                        </li>
                                        <li class="me-1">
                                            <a href="#" class="product-icon">
                                                <i class="bi bi-cart3"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="product-icon">
                                                <i class="bi bi-heart"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product-info">
                                    <p>{{'category.name'}}</p>
                                    <a href="/product/{{id}}" class="product-info-name mb-2">{{name}}</a>
                                    <p class="product-price">{{currencyFormat price}}</p>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
                <div class="offset-xl-3 offset-lg-4 offset-md-5 col-xl-9 col-lg-8 col-md-7 page-nav d-flex justify-content-center">
                    <ul class="d-flex">
                        {{#page products.count page catOption}}
                        {{/page}}
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="subscribe">
        <div class="container">
            <div class="subscribe-container text-center">
                <h3 class="subscribe-title text-uppercase mb-3">GET UPDATE FROM ANYWHERE</h3>
                <p class="mb-3">Bearing Void gathering light light his eavening unto dont afraid</p>
                <form class="mt-5 pt-1">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-sm-6 col-lg-3">
                            <input type="email" placeholder="Your Email Address"
                                class="input-subscribe rounded-pill form-control mb-3 h-100 py-2 px-3">
                        </div>
                        <div class="col-auto">
                            <button class="btn rounded-pill mb-3">Subscribe Now</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>